/* <------------ FONTS IMPORTS ------------> */
/* GOOGLE FONTS */
@import url('https://fonts.cdnfonts.com/css/cascadia-code');




/* <------------ VARIABLES CSS ------------> */
:root{

    /*Background colors*/
    --background-color : rgb(12, 12, 15);
    --background-color2 : rgb(22, 21, 21);
    --background-color3 : #e4ff48;
    --background-color4 : rgb(20, 19, 19);

    /*Colores de neon */
    --neon-green : #33ffb1;
    --neon-red : #ff3131;
    --neon-yellow : #e4ff48;
    --neon-blue : #55ddff;

    /*Color principal*/
    --main-color : #33ffb1;
    --services-section-color :#e4ff48 ;

    /*Fonts*/
    --cascadia-font : 'Cascadia Code', sans-serif;

    /*Title colors*/
    --title-color1 : rgb(224, 224, 224);
    --title-color2 : rgb(224, 224, 224);
    --title-color3 : rgb(224, 224, 224);
    --title-color4 : rgb(224, 224, 224);
    --title-color5 : rgb(224, 224, 224);

    /*Nav links colors*/
    --link-color1 : rgb(255, 253, 253);
    --link-color2 : rgb(224, 224, 224);
    --link-color3 : rgb(224, 224, 224);
    --link-color4 : rgb(224, 224, 224);


}




/* <------------- ALL CSS --------------> */
/* *CSS */
*{
    /* Le damos un margen de 0 a toda la página web
     para que no haya bordes blancos en ningun borde*/
    margin: 0;
    scroll-behavior: smooth !important;
    scroll-padding-top: 10vh; /* Ajusta según la altura de tu header */

    /* Voy a cambiar la fuente en todo el documento*/
    font-family: var(--cascadia-font);
    
}



/* <------------- CLASES CSS -----------> */

/* HEADER CSS */

.header{

    display: flex;
    flex-direction: column; /* Apilar elementos de forma vertical */
    /*Le vamos a dar un tamaño del 100% de la ventana*/
    width: 100vw;
    height: 100vh;
    /* Cambiamo el color de fondo de todo el header */
    background-color: var(--background-color);
}


/* <----------- CLASES PARA LOS NEONES REPARTIDOS POR LA PAGINA ----------> */
.neon-green{

    /*Creamos el recipiente con la posicion absoluta de donde vamos a colocar el neon*/
    border-radius: 50%;
    opacity: 0.1;

    /*Posicion*/
    position: absolute;
    top: 300px;
    left: 10vw;
    width: 40vw;
    height: 200px;

    /*Indice z*/
    z-index: 90;


    /* Creamos una sombra para el fondo y simular unas luces de neon*/
    box-shadow: 
    0 0 30px var(--neon-green),
    0 0 50px var(--neon-green),
    0 0 80px var(--neon-green),
    0 0 100px var(--neon-green),
    0 0 200px var(--neon-green),
    0 0 300px var(--neon-green),
    0 0 400px var(--neon-green),
    0 0 500px var(--neon-green),
    0 0 600px var(--neon-green),
    0 0 7000px var(--neon-green),
    0 0 55000px var(--neon-green),
    0 0 355000px var(--neon-green);


    /*Color de fond*/
    background-color: var(--neon-green);


}
.neon-yellow{

    /*Creamos el recipiente con la posicion absoluta de donde vamos a colocar el neon*/
    border-radius: 50%;
    opacity: 0.03;

    /*Posicion*/
    position: absolute;
    top: 1550px;
    left: 13vw;
    width: 70vw;
    height: 300px;

    /*Indice z*/
    z-index: 90;


    /* Creamos una sombra para el fondo y simular unas luces de neon*/
    box-shadow: 
    0 0 30px var(--neon-yellow),
    0 0 50px var(--neon-yellow),
    0 0 80px var(--neon-yellow),
    0 0 100px var(--neon-yellow),
    0 0 200px var(--neon-yellow),
    0 0 300px var(--neon-yellow),
    0 0 400px var(--neon-yellow),
    0 0 500px var(--neon-yellow),
    0 0 600px var(--neon-yellow),
    0 0 7000px var(--neon-yellow);


    /*Color de fond*/
    background-color: var(--neon-yellow);


}




/* NAV DEL HEADER*/
.nav-container{

    /* Le voy a dar una distribución horizontal, para tener separados 
    cada container del navegador */
    display: flex;
    position: fixed;

    /*Le vamos a dar una anchura del 100% de la ventana*/
    width: 100vw;
    /*Le vamos a dar una altura del 10% de la ventana*/
    height: 10vh;

    /* Fijo en la parte superior de la ventana */
    top: 0; 
    left: 0;
    z-index: 100; /* Aseguramos que esté encima de otros elementos */
    transition: 0.2s;

}

.nav-container-moving{
    /* Le voy a dar una distribución horizontal, para tener separados 
    cada container del navegador */
    transition: 0.4s;
    display: flex;
    position: fixed;


    /*Le vamos a dar una anchura del 100% de la ventana*/
    width: 100vw;
    /*Le vamos a dar una altura del 10% de la ventana*/
    height: 10vh;

    top: 0; /* Fijo en la parte superior de la ventana */
    left: 0;
    z-index: 100; /* Aseguramos que esté encima de otros elementos */
    background-color: rgba(12,12,15,0.9 );
    padding-bottom: 10px;
    position: fixed;
}










/*NAV-LOGO-CONTAINER*/
.nav-logo-container{
    width: 70vw;
    height: 100%;
    /*Centramos el texto del logo*/
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;  

}
.logo, .logo-doc{

    font-size: 35px;
    font-weight: normal;
    text-align: center;
    /*Cambiamos el color del titulo del logo    */
    color: var(--title-color1);

}

.logo-doc{
    color: var(--main-color);
    font-weight: bold;
}



/*NAV-LINKS-CONTAINER*/
.nav-links-container{
    width: 55vw;
    height: 100%;

    display: flex;

    /*Centramos los elementos que contiene*/
    justify-items: center;
    align-content: center;



    
}

.links-list{


    margin-top: 10px;

    /*Separamos todos los elementos de la lista de manera horizontal*/
    display: flex;
    width: 80%;
    height: 100%;
    /*Separamos cada elementos de la lista con un margen de por medio*/
    gap: 20px;

    padding: 0;


    justify-content: right; 
    align-items: center;

}


.link-list-item{
    display: block; /* Asegura que el enlace sea un bloque */
    width: auto;


    margin:10px;
}

.link-list-item-a{
    display: block; /* Asegura que el enlace sea un bloque */
    text-align: center;

    /*Le ponemos un pading a cada link para que se aleje el borde al clickarlo*/
    padding-bottom: 5px;

    font-size: 18px;
    color: var(--link-color1);

}

.link-list-item-a:hover{
    color: var(--main-color);
    transform: scale(1.1);

}


.active-link{

    color: var(--main-color);
    text-shadow: 
    0 0 15px var(--main-color),
    0 0 25px var(--main-color);
    border-bottom: 1px solid;
}



/*NAV-BUTTON-CONTAINER*/
.nav-button-container{
    width: 30vw;
    height: 100%;

    
}


.hire-me-container{

    font-size: 18px;
    width: 30%;
    align-content: center;
    text-align: center;

    margin-top: 10px;

    transform-origin: center;
    transition: transform 0.3s ease;
}

.hire-me-button{
    
    padding: 10px 25px;
    border-radius: 30px;
    color: rgb(41, 41, 41);
    background-color: var(--main-color);
}

.hire-me-container:hover{

    transform: scale(1.1);
    opacity: 0.8;

}

/*Header container*/


.header-container{

    width: 100vw;
    height: 100vh; /* Resta el 10% del nav-container */

}

.header-info-container{

    display: flex;
    width: 100vw;
    height: 75%; /* Resta el 10% del nav-container */
    justify-content: space-between;
    align-content: center;


}


.info-container{

    width: 50vw;
    align-content: center;
    margin : 0 0 0 350px;
    flex-direction: column;


}

.software-container{

    font-size: 18px;
    color: var(--title-color1);
    padding-top: 10px;
    padding-bottom: 10px;

}

.name-container{

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    letter-spacing: 5px;
}

.name-init-container{
    color: var(--title-color1);
}

.name-title-container{
    color:  var(--neon-green);
    text-shadow: 
       0 0 30px var(--neon-green),
        0 0 50px var(--neon-green);
}


.resume-container{

    width: 90%;

    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;

    color: var(--title-color1);
}

.haeder-links{
    display: flex;
}


.curriculum-container{

    width: 200px;
    border: 1px solid;
    border-color: var(--neon-green);
    padding: 5px;
    margin-top: 10px;
    border-radius: 200px;

    transform-origin:center ;
    transition: transform 0.3s ease;

}

.currilum-download-container-button a{

    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.curriculum-link-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    display: flex;

    gap: 10px;

    color: var(--neon-green);
}

.curriculum-container:hover{

    transform: scale(1.05);
    box-shadow: 0 0 10px,
    0 0 40px var(--neon-green);
    text-shadow: 0 0 10px,
      0 0 40px var(--neon-green),
       0 0 50px var(--neon-green) ,
        0 0 60px var(--neon-green) ;

}

.img-container{

    width: 50vw;
    align-content: center;
    text-align: center;
}

.tarjeta{

    width: 500px;
    height: 500px;

    border-radius: 50%;
    box-shadow: 16px 14px  20px #000000;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
   


}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background-image: conic-gradient(var(--neon-green) 20deg, transparent 120deg);

    animation : rotar 5s linear infinite;
}

.tarjeta img{
    width: 490px;
    height: 490px;
    border-radius: 50%;
    
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


.tarjeta::after{

    content: "";
    position: absolute;
    height: 490px;
    width: 490px;
    border-radius: 50%;
    background-color: var(--background-color);
    background-image: linear-gradient(rgb(0,0,0,0),rgb(0,0,0,0)),url(../ASSETS/IMAGES/fotoMia.jpeg);
    background-size: cover;
    background-position: 90%;

    box-shadow: 
    0,0,20px  var(--neon-green),
    0,0,50px  var(--neon-green),
    0,0,70px  var(--neon-green);
    
}


.header-links{

    display: flex;
    align-items: center;
    gap: 50px;

}

.social-media-container{

    display: flex;
    padding: 5px;
    margin-top: 10px;
    gap: 30px;
    
    align-items: center;
    
}

.social-link-container{


    border: 1px solid;
    border-color: var(--neon-green);
    padding:10px  10px;
    border-radius: 50%;
    width: 24px;
    height: 24px;

}


.social-link-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px,
    0 0 40px var(--neon-green);
    text-shadow: 0 0 10px,
      0 0 30px var(--neon-green) ,
       0 0 40px var(--neon-green),
        0 0 50px var(--neon-green);
}

.social-link-container img{
    width: 24px;
    height: 24px;
}


.programmer-info-container{

    display: flex;

    width: 83vw;
    height: 20%;
    margin : 0 0 0 17vw;


    justify-content: left;
    gap :50px;

}

.programmer-info-item-container{

    width: 15%;
    height: 100%;


    display: flex;
    align-items: center;
    justify-items: center;
    color: var(--title-color1);
    gap: 20px;
    line-height: 25px;

}

.info-divisor {
    width: 100vw;
    height: 5%;
}




.programmer-title{

    color: var(--title-color1);

    text-align: center;
    font-size: 80px;

}

.programmer-info-title-container p{

    margin-top: 20px;

}



/* <---------------- SERVICES CSS ---------------->  */

.services-container{

    width: 100vw;
    height: 90vh;
    background: linear-gradient(var(--background-color), var(--background-color),var(--background-color),var(--background-color));


}

.services-container-title{

    width: 100%;
    height: 20%;
    text-align: center;
    align-content: center;

    justify-content: center;

    display: flex;


}

.services-divisor{

    width: 15%;
    height: 100%;

}

.services-divisor-1,.services-divisor-2{

    width: 18.5%;
    height: 100%;

}

.services-title{

    width: 60%;
    height: 100%;
    text-align: left;
    align-content: center;
    justify-content: center;
}

.services-title-h1{

    font-size: 50px;
    color:rgb(255, 255, 255);
}

.services-container-sections{

    display: flex;
    height: 80%;
    width: 100%;
}
.services-sections-container{
    width: 64%;
    height: 100%;

    justify-content: center;

}

.services-section-row{
    display: flex;
    width: 90%;
    height: 50%;
    justify-content: left;
    gap: 5%;
    

}

.services-section{

    width: 48%;
    height: 90%;
    z-index: 95;

}

.section-title-info-container{
    display: flex;
    width: 100%;
    height: 20%;


}
.section-number{
    width: 50%;
    height: 100%;
    color: rgb(255, 255, 255);
    align-content: center;
    text-align: left;
    font-size: 50px;
}
.section-arrow{
    width: 50%;
    height: 100%;
    align-content: center;
    text-align: right;
    margin-right: 20px;

}

.section-arrow img{
    border: 1px solid;
    border-color: var(--services-section-color);
    background-color: #e4ff48;
    rotate: 45deg;
    transition: 0.3s;

    padding: 15px;
    border-radius: 50px;


}

.section-arrow img:hover{

    transform: rotate(-45deg) scale(1.1);
    box-shadow: 
    0 0 20px var(--neon-yellow);
}

.section-title{
    height: 80%;
    width: 100%;
}

.section-title h1{
    color: var(--services-section-color);
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 
    0 0 20px var(--services-section-color);
    
}
.section-title p{
    color: white;
    padding-bottom: 40px;
    border-bottom: 1px solid;
    border-color: rgb(255, 254, 175);
}



/* <---------------- SECCION DIVISOR CSS ---------------> */

.section-divisor{

    width: 100vw;
    height: 30vh;
    background-color: var(--background-color);

}

/* <---------------- ETIQUETAS CSS ---------------->  */


a{
    /*Quitamos el subrayado de todas las etiquetas a del documento*/
    text-decoration: none;
}

ul{

    /*Hacemos que ninguna lista de la página web tenga los puntos*/
    list-style: none;

}